<%- include('../partials/header') %>

  <h1>Developer Skills</h1>
  <ul>
    <% skills.forEach(function(s) { %>
      <li>
          <a href="/skills/<%= s.id %>"><%= s.skill %></a>
          <ul>
              <li>
                  Skill Level: <%= s.level %>
              </li>
              <li>
                  Example Project: <%= s.project %>
              </li>
          </ul>
      </li>
    <% }); %>
  </ul>
  <a href="/skills/new">Add New Skill</a>
  
<%- include('../partials/footer') %>